Download the dataset from [here](https://drive.google.com/file/d/1dVbihPJFSh6sqUkOZBQHyTFZBHPowLPc/view?usp=sharing)

In [ ]:
df = pd.read_csv(r"/content/ecommerce.csv")

In [ ]:
import pandas as pd

In [ ]:
df

                                                Address  ... Purchase Price
0     16629 Pace Camp Apt. 448\r\nAlexisborough, NE ...  ...          98.14
1     9374 Jasmine Spurs Suite 508\r\nSouth John, TN...  ...          70.73
2                    Unit 0065 Box 5052\r\nDPO AP 27450  ...           0.95
3               7780 Julia Fords\r\nNew Stacy, WA 45798  ...          78.04
4     23012 Munoz Drive Suite 337\r\nNew Cynthia, TX...  ...          77.82
...                                                 ...  ...            ...
9995    966 Castaneda Locks\r\nWest Juliafurt, CO 96415  ...          82.21
9996  832 Curtis Dam Suite 785\r\nNorth Edwardburgh,...  ...          25.63
9997            Unit 4434 Box 6343\r\nDPO AE 28026-0283  ...          83.98
9998             0096 English Rest\r\nRoystad, IA 12457  ...          38.84
9999   40674 Barrett Stravenue\r\nGrimesville, WI 79682  ...          67.59

[10000 rows x 14 columns]

**Check the head of the DataFrame.**

In [ ]:
df.head(6)

                                             Address  ... Purchase Price
0  16629 Pace Camp Apt. 448\r\nAlexisborough, NE ...  ...          98.14
1  9374 Jasmine Spurs Suite 508\r\nSouth John, TN...  ...          70.73
2                 Unit 0065 Box 5052\r\nDPO AP 27450  ...           0.95
3            7780 Julia Fords\r\nNew Stacy, WA 45798  ...          78.04
4  23012 Munoz Drive Suite 337\r\nNew Cynthia, TX...  ...          77.82
5  7502 Powell Mission Apt. 768\r\nTravisland, VA...  ...          25.15

[6 rows x 14 columns]

** How many rows and columns are there? **

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 14 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Address           10000 non-null  object
 1   Lot               10000 non-null  object
 2   AM or PM          10000 non-null  object
 3   Browser Info      10000 non-null  object
 4   Company           10000 non-null  object
 5   Credit Card       10000 non-null  int64
 6   CC Exp Date       10000 non-null  object
 7   CC Security Code  10000 non-null  int64
 8   CC Provider       10000 non-null  object
 9   Email             10000 non-null  object
 10  Job               10000 non-null  object
 11  IP Address        10000 non-null  object
 12  Language          10000 non-null  object
 13  Purchase Price    10000 non-null  float64
dtypes: float64(1), int64(2), object(11)
memory usage: 1.1+ MB

** What is the average Purchase Price? **

In [ ]:
df["Purchase Price"].mean(skipna=True)

50.34730200000025

** What were the highest and lowest purchase prices? **

In [ ]:
df["Purchase Price"].max()

99.99

In [ ]:
df["Purchase Price"].min()

0.0

** How many people have the job title of "Lawyer" ? **

In [ ]:
count=0
a=df['Job']
type(a)
for (i,j) in a.iteritems():
  if ("Lawyer"== j) :
    count=count+1
print(count)

30

** How many people made the purchase during the AM and how many people made the purchase during PM ? **

In [ ]:
df["AM or PM"].value_counts()

PM    5068
AM    4932
Name: AM or PM, dtype: int64

** What are the 5 most common Job Titles? **

In [ ]:
a=df["Job"].value_counts(ascending=True)
print(a.tail(5))

Research officer, political party    27
Purchasing manager                   27
Social researcher                    28
Lawyer                               30
Interior and spatial designer        31
Name: Job, dtype: int64

** Someone made a purchase that came from Lot: "90 WT" , what was the Purchase Price for this transaction? **

In [ ]:

# condition mask
mask = df['Lot'] == "90 WT"
  
# new dataframe with selected rows
df_new = pd.DataFrame(df[mask])

df_new['Purchase Price']

513    75.1
Name: Purchase Price, dtype: float64

** What is the email of the person with the following Credit Card Number: 4926535242672853 **

In [ ]:
mask = df['Credit Card'] == 4926535242672853
  
# new dataframe with selected rows
df_new = pd.DataFrame(df[mask])

df_new['Email']

1234    bondellen@williams-garza.com
Name: Email, dtype: object

** How many people have American Express as their Credit Card Provider *and* made a purchase above $95 ?**

In [ ]:
counter=0
mask = df['CC Provider'] == 'American Express'
  
# new dataframe with selected rows
df_new = pd.DataFrame(df[mask])
df_new
for (i,j) in df_new['Purchase Price'].iteritems():
  if (j>95):
    counter=counter+1

print(counter)

39

** Hard: How many people have a credit card that expires in 2025? **

In [ ]:
def expires_in_2025(exp_date):
    if exp_date.split('/')[1]=='25':
        return True
    else:
        return False
sum(df['CC Exp Date'].apply(expires_in_2025))

1033

** Hard: What are the top 5 most popular email providers/hosts (e.g. gmail.com, yahoo.com, etc...) **

In [ ]:
df['Email'].apply(lambda x : x.split('@')[-1]).value_counts().head(5)

hotmail.com     1638
yahoo.com       1616
gmail.com       1605
smith.com         42
williams.com      37
Name: Email, dtype: int64

# Great Job!